.profile {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  max-width: 1280px;
  box-sizing: border-box;
}

.profile__container {
  display: flex;
  flex-direction: column;
  padding: 74px 0 70px;
  margin: 0;
  box-sizing: border-box;  
  height: 100%;
  width: 410px;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0 0 106px;
  text-align: center;
}

.profile__fieldset {
  border: none;
  padding: 0 0 188px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.profile__field {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 16px;
  margin: 0;
}

.profile__field:first-of-type {
  border-bottom: 1px solid #E8E8E8;
}

.profile__label {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
}

.profile__input {
  border: none;
  color: inherit;
  outline: none;
  font-style: normal;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  margin: 0;
  padding: 0;
}

.profile__button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  font: inherit;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 16px 0 0;
  padding: 0;
}
          
.profile__button:hover {
  opacity: .8;
}

.profile__button_edit {
  color: #000;
  font-weight: 400;
}

.profile__button_exit {
  color: #EE3465;
  font-weight: 500;
}

.profile__button_save {
  background-color: #3456F3;
  color: #fff;
  height: 45px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin: 19px 0 0;
  padding: 0;
}

@media (max-width: 768px) {
  .profile__container {
    padding: 236px 0 269px;
  }

  .profile__title {
    padding: 0 0 79px;
  }

  .profile__fieldset {
    padding: 0 0 178px;
  }
}

@media (max-width: 425px) {
  .profile__container {
    padding: 70px 0 40px;
    width: 260px;
  }

  .profile__title {
    padding: 0 0 63px;
  }

  .profile__fieldset {
    padding: 0 0 347px;
  }

  .profile__button {
    font-size: 12px;
  }

  .profile__button_save {
    font-size: 13px;
  }
}