.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 70px 69px;
  margin: 0;
  width: 100%;
  box-sizing: border-box; 
}

.search-form__container {
  height: 100%;
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  min-width: 100%;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__form {
  margin: 0;
  padding: 0;
}

.search-form__field {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.search-form__input {
  width: 100%;
  height: 46px;
  padding: 0 50px 0 22px;
  border: none;
  color: inherit;
  background-color: #F9F9F9;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  border-radius: 40px;
  text-align: left; 
}

.search-form__input:focus {
  opacity: 0.6;
}

.search-form__button {
  position: absolute;
  right: 6px;
  background-color: #FF6838;
  background-image: url("../../images/search-form_icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  width: 80px;
  height: 34px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border: none; 
  cursor: pointer;
}

.search-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 41px 0 69px;
  position: relative;
}

.search-form__checkbox-input {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.search-form__checkbox-text {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  position: relative;
}

.search-form__checkbox-input+.search-form__checkbox-text::before {
  content: "";
  width: 36px;
  height: 20px;
  background-image: url("../../images/search-form_checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: -50px;
  top: -1px;
}

.search-form__checkbox-input:checked+.search-form__checkbox-text::before {
  width: 36px;
  height: 20px;
  background-image: url("../../images/search-form_checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  display: inline-block;
}