.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #465DFF;
  min-height: 74px;
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1280px;
}

.header__logo-image {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
}

.header__color_white {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #fff;
  height: 74px;
  margin: 0 auto;
  padding: 0 70px;
  border: none;
  max-width: 1280px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }

  .header__color_white {
    padding: 0 30px;
  }
}

@media (max-width: 320px) {
  .header {
    width: 100%;
    padding: 0 14px;
  }

  .header__color_white {
    padding: 0 14px;
  }
}