.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #465DFF;
  height: 56px;
  margin: 0;
  padding: 18px 70px 0 70px;
  border: none;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0 427px 0 0;
}

.header__color_white {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  height: 56px;
  margin: 0;
  padding: 18px 70px 0 70px;
  border: none;
}

@media (max-width: 767px) {
  .header__logo {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
  }
}